<div class="row">
  <div class="col-12">
    <h3>Pets</h3>
  </div>
  <div class="col-12 mt-2">
    <%= link_to 'Add new pet', new_pet_path, class: 'btn btn-success btn-sm' %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Breed</th>
            <th scope="col">Kind</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @pets.each do |pet| %>
            <tr>
              <th scope="row"><%= pet.id %></th>
              <td><%= pet.name %></td>
              <td><%= pet.birth_date.strftime("%m/%d/%Y") %></td>
              <td><%= pet.breed %></td>
              <td><%= pet.kind %></td>
              <td>
                <%= link_to 'Medical records', '#', class: 'btn btn-info btn-sm' %>
                <%= link_to 'Show', pet_path(pet), class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Remove', pet_path(pet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>