<div class="row">
  <div class="col-12">
    <h3>Showing Pet: <strong><%= @pet.name %></h3>
  </div>
</div>

<div class="row d-flex justify-content-center align-items-center mt-5">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Pet</h3>
        <ul class="list-group">
          <% @pet.attributes.each do |attr_name, attr_value| %>
            <% unless attr_name == 'created_at' || attr_name == 'updated_at' %>
              <li class="list-group-item">
                <span class="text-muted">
                  <%= attr_name.gsub('_', '').capitalize %>:
                </span> 
                <strong><%= attr_name == 'birth_date' ? attr_value.strftime("%m/%d/%Y") : attr_value %></strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="card-footer">
        <%= link_to 'Medical Records', edit_pet_path(@pet), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Remove', pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>